*, :after, :before {
    box-sizing: border-box;
}
html,
body {
	margin:0;
	padding:0;
	background-color: #FFFFFF;
	font-size: 1.8em;
	font-family: Arial, Tahoma, Verdana;
	color: #000000;
}
.login-view {
	display: none;
	text-align: center;
}
.header-principal {
	display: flex;
	justify-content: center;
	
	#image-logo {
		width: 125px;
		height: auto;
	}

	#txt-validation {
		margin: 3% 0 0 3%;
		font-size: 1em;
		text-align: left;
		color: #725486;	
	}
}
.text-subtitle {
	font-size: 0.6em;
	color: #7d7d7d;
}
.user-login {
	.form-user-login{
		width: 600px;
		margin: 0 auto;
		
		.login {
			width: 100%;
			text-align: left;
			
			.infos-login {
				width: 100%;
				height: 120px;
				font-size: 0.7em;
				padding-left: 20px;
				color: #7d7d7d;
				border: solid 2px #7d7d7d;
				border-radius: 10px;
			}
		}

		#checkbox {
			max-width: 600px;
			text-align: left;
			#checkbox-user {
				text-align: left;
				width: 30px;
				height: 30px;
			}
		}

		.send-login {
			input {
				width: 600px;
			height: 120px;
				font-size: 0.6em;
				border-radius: 10px;
				color: #FFF;
				background-color: #725486;
			}
		}
	}
}

.register {
	input {
		width: 600px;
		height: 120px;
		font-size: 0.6em;
		border-radius: 5px;
		color: #725486;
		border: solid 2px #725486;
		border-radius: 10px;
		background-color: #FFF
	}
}