.write-code {
	display: none;
	text-align: center;
}
.user {
	display: flex;
    justify-content: space-between;

    img {
    	width: 50px;
    	margin: 70px;

    }
}
.header {
	height: 400px;
	margin-top: 8%;
	background-color: #ffffff;
	
	span {
		font-size: 1.5em;
		margin-bottom: 40px;
	}
	#text-now {
		margin-bottom: 50px;
		color: #9a70b7;
	}
}
.search {
	.text-code{
		display: inline-block;
		
		p {
			font-size: 0.9em;
			color: #7d7d7d;
		}
	}
}
.numbers{
	.mask-number {
	    width: 75%;
	    padding-left: 80px;
	    font-size: 2em;
	    letter-spacing: 100px;
	    border: solid 3px #9a70b7;
	    border-radius: 10px;
	    color: #725486;
	}
	.last-numbers {
		margin-bottom: 20%;
	}
}
.button-send-voucher {
	position: fixed;
	width: 99%;
	height: 150px;
	bottom: 0;
	left: 0;
	margin: 5px;
	font-size: 0.9em;
	border-radius: 10px;
	color: #ffffff;	
	background-color: #725486;
}